MYSQL_ROOT_PASSWORD=your_db_root_password
MYSQL_DATABASE=your_db_name
MYSQL_USER=your_db_user_id
MYSQL_PASSWORD=your_db_user_password
MYSQL_PORT=your_db_port
MYSQL_HOST=your_db_host
AI_PORT=your_ai_url
Address=emflazlwm62@gmail.com
Email_Password=rjhx ujqo xlfg ryrn